{% extends "layout.html" %}

{% block header %}

    <h1 class="text-center my-4" style="color:darkslategray;">Top 5 {{ category }} Headlines</h1>

{% endblock %}

{% block body %}
<body style="background-color: rgb(221, 225, 230);">
    <div class="container">
        <form method="POST" class="mb-4 p-4 bg-light rounded shadow-sm">
            <h2 class="h4 mb-3">Select a Category:</h2>
            <div class="mb-4">
                <label for="category" class="form-label"></label>
                <select name="category" id="category">
                    <option value="" disabled selected>Pick an option</option>
                    {% for item in listitems %}
                        <option value= "{{ item }}" style="color:black;">{{ item }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary w-100" style="background-color:green;">Get Headlines</button>
            </div>
        </form>
    </div>

    {% for article in articles %}
    <h3>{{ loop.index }}. {{ article.title }}</h3>
    <p>{{ article.description }}</p>
    <a href="{{ article.url }}" target="_blank">Read more</a>
    <hr>
    {% endfor %}
</body>
{% endblock %}